node_modules/
**/node_modules/

dist/
**/dist/
dist-ssr/
**/build/

__pycache__/
**/__pycache__/
*.pyc

*.db
*.db-shm
*.db-wal
data/

release/*.tar.gz
screenshots/

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea/
.vscode/
*.local

ms-mail-fetcher